@charset "UTF=8";


@media only screen and (max-width: 600px) {
    main {
        background: #5f2c82 url(../img/Teens\ translucent.png);
        background-size: cover;
        background-position: center center;

        padding: 20px;
        width: 100vw;
        height: 100vh;
        color: white;
        overflow: hidden;

    }
    section#tela  {
        width: 60vw;
        height: 50vh;
        background-color: rgba(0, 0, 0, 0.335);
        box-shadow: none;
    }
    section#tela > div#img {
        background: none;  
        height: 0;
    }

    div#form > h1 {
        font-size: 2em;
        margin-block: 50px;
    }

    div.campo > input, textarea {
        width: calc(100% - 0px);
    }
    form > div.campo {
        background: none;
        border: none;
        margin: 12px 0px;
    }
    
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 768px) {
    main {
        background: #5f2c82 url(../img/Teens\ translucent.png);
        background-size: cover;
        background-position: center center;

     
        width: 100vw;
        height: 100vh;
        color: white;
        overflow: hidden;

    }
    section#tela  {
       
        width: 60vw;
        height: 50vh;
        background-color: rgba(0, 0, 0, 0.335);
        box-shadow: none;
    }
    section#tela > div#img {
        background: none;  
        height: 0;
    }
    
    div#form > h1 {
        font-size: 2.5em;
        margin-block: 50px;
    }
    form > div.campo {
        height: 45px;
    }

    div.campo > input, textarea {
        width: calc(100% - 0px);
    }
    form > div.campo {
        background: none;
        border: none;
        margin: 15px 0px;
    }

}


@media screen and (min-width: 768px) and (max-width: 992px) {
    body {
        background-image: linear-gradient(to top, #111d60, #5f2c82);
    }
    section#tela {
        width: 80vw;
        height: 280px;
    }
    section#tela > div#img {
        float: left;
        width: 30%;
        height: 100%;
    }

    section#tela > div#form {
        float: right;
        width: 70%;
    }
    div#form > h1 {
        font-size: 1.6em; 
        
    }
    div.campo > input, textarea {
        width: 100%;
    }
    
    form > div.campo {
        margin: 15px 0px;
    }
    
}


@media screen and (min-width: 992px) and (max-width: 1900px){
    body {
        background-image: linear-gradient(to top, #111d60, #5f2c82);
    }
    section#tela {
        width: 970px;
        height: 500px;
    }
    section#tela > div#img {
        float: right;
        width: 50%;
        height: 100%;
    }
    section#tela > div#form {
        float: left;
        width: 50%;
    }
    div#form > h1 {
        font-size: 2em; 
        margin-block: 32px;
    }
    form > div.campo {
        height: 50px;
    }
    div.campo > input, textarea {
        width: 100%;
    }
    form > div.campo {
        margin: 15px 0px;
    }
}


@media screen and (min-width: 1900px) {
    body {
        background-image: linear-gradient(to top, #111d60, #5f2c82);
    }
    section#tela {
        /* background:; */
        width: 1500px;
        height: 700px;
    }
    section#tela > div#img {
        
        float: right;
        width: 50%;
        height: 100%;
    }
    section#tela > div#form {
    
        float: left;
        width: 50%;
    }
    div#form > h1 {
        font-size: 2.3em; 
        margin-block: 40px;
    }
    form > div.campo {
        height: 70px;
        margin: 20px 0px;
    }
   
    div.campo > input, textarea {
        width: 100%;
    }
    
    form > #enviar {
        height: 50px;
    }
  
}