@charset "UTF-8";

/*
    Paleta de cores
    Verde: #49a09d
    Lilás: #5f2c82

*/


* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box; 
}

body, html {
    background-color: #111d60;
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}
section#tela {
    position: absolute;
    top: 50%;
    left: 50%;
    
    overflow: hidden; /*Tudo o que estiver fora da borda some */
    
    background-color: white;
    width: 250px;
    height: 515px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.450);

    transition: width .3s, height .3s;
    transition-timing-function: ease; /*Suavizar durante a animação*/
    transform: translate(-50%, -50%);
}
section#tela > div#img {
    display: block;
    background: #5f2c82 url(../img/Teens.png) no-repeat center center;
    background-size: cover;
    height: 200px;
}

section#tela > div#form {
    padding: 10px;
    display: block;
}

div#form > h1 {
    text-align: center;
    margin-bottom: 10px;
}

form > div.campo {
    background-color: #111d60;
    border: 2px solid #030F26;
    display: block;
    width: 100%;
    height: 40px;
    border-radius: 8px;
    margin: 5px 0px;

}

form label {
    display: none;
}

div.campo > input, textarea {
    background-color: #94cfcd;
    font-size: 1em;
    /* width: calc(100% - 60px); */
    height: 100%;
    
    border: 0px;
    border-radius: 8px;
    padding: 4px;
    
}

form > #enviar {
    display: block; /*Linha só*/
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: #49a09d;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}
form > #enviar:hover {
    background-color: #3a7d7b;
}



